<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Company-Name</title>
</head>
<body>
    <h3>Hello, <span sec:authentication="principal.username"></span></h3>
    You have the following roles: <span sec:authentication="principal.authorities"></span>
    <h1>Welcome to Company-Name</h1>
    <hr>
    <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur dolorem, ex fugiat illo impedit ipsam ipsum iure libero magni, officiis porro quis sed sint tempora vel, voluptates? Sit, velit?</span><span>Adipisci alias fugiat placeat praesentium soluta tenetur totam? Ad alias, beatae consequuntur cumque ea, est ipsum itaque magni nostrum odio odit sit tenetur voluptas. Aperiam labore molestias qui sit totam!</span><span>Esse in inventore iste laborum natus nemo, nesciunt quae quos temporibus totam. Ad alias impedit mollitia neque perferendis quo voluptas. A accusantium consequuntur excepturi in natus nesciunt, optio quasi ratione.</span>
    </p>
    <hr>
    <p>
        <a th:href="@{/managers}">Link for MANAGERS ONLY</a>
    </p>
    <p>
        <a th:href="@{/systems}">Link for SYSTEMS ONLY</a>
    </p>
    <form action="#" th:action="@{/logout}" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>